.main-footer {
  min-height: 108px;
  background-color: $color-black-russian;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;

  @include vp-1199 {
    padding: 46px 0 36px;
  }

  @include vp-767 {
    position: relative;
    display: block;
    padding: 49px 0 45px;
  }
}

.main-footer__logo-link {
  display: block;
  margin-right: 9px;

  @include vp-1199 {
    margin-right: 26px;
  }

  @include vp-767 {
    position: absolute;
    left: 0;
    margin: 0;
  }
}

.main-footer__logo {
  display: block;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}
