.membership {
  background-color: $color-ghost-white;
}

.membership__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 118px;
  }

  @include vp-767 {
    padding: 63px 0 70px;
  }
}
