.video {
  position: absolute;
  bottom: -115px;
  left: -63px;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 39.3%;
    height: 48.4%;
    left: 30.2%;
    bottom: -24.2%;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    height: calc(100vw - 153px);
    max-height: 265px;
    left: 0;
    bottom: 0;
  }

  & img {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: 4;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   pointer-events: none;
  //   background-color: rgba(20, 54, 122, 0.5);
  // }

  & iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.video__ovelay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // pointer-events: none;
  background-color: rgba(20, 54, 122, 0.5);
}

.video__play-button {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  & svg {
    position: relative;
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 auto;

    @include vp-1199 {
      width: 12px;
      height: 12px;
    }
  }

  &::after {
    content: '';
    inset: 0;
    position: absolute;
    background: linear-gradient(
      97.05deg,
      rgba(237, 2, 51, 0.2) 17.6%,
      rgba(0, 62, 183, 0.2) 95.31%
    );
    border-radius: 50%;
    border: 2px solid transparent;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 72px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);

    @include vp-1199 {
      width: 52px;
      height: 52px;
    }
  }

  @include hover {
    transform: scale(0.8);
    transition: transform 0.2s ease-in;
  }

  @include focus {
    &::after {
      background: $color-golden-yellow border-box;
    }
    outline: none;
  }

  &:active {
    &::before {
      background: $color-torch-red;
    }
  }
}
